<header>
    <h1>About Music Store</h1>
    <h2>A place for listening, buying, and enjoying music.</h2>
    <img src="~/Content/albums.jpg" alt="albums from 2019" style="width:80%;outline:10px darkblue solid;" />
    </header>
        <hr />
        <section>
            <table style="width:80%;text-align:center;">
                <tr>
                    <td style="width:50%;">
                        <h2>Opened in 1980</h2>
                    </td>
                    <td style="width:50%;">
                        <h2>Located in Traverse City, MI</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>20,000 albums</h2>
                    </td>
                    <td>
                        <h2>200 facilities</h2>
                    </td>
                </tr>
            </table>
        </section>
        <hr />
